$gold-text: #cfb995;
$bg-hero: '../assets_Homework_Front-End_01/bitmap@3x.png';
$bg-footer: '../assets_Homework_Front-End_02/bitmap-copy@3x.png';

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin common-style {
  width: 350px;
  font-family: Montserrat;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: normal;
  text-align: center;
}

