@use 'variables'as var;
$colors: (#cc6698,
  #0869ad,
  #ff8300,
  #7A86b8,
  #f05133,
  #2aa9e0,
  #71bf45,
  #9e79d7,
);

.categories {
  width: 80%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  @for $i from 0 through 18 {
    $color: nth($colors, random(length($colors)));

    .color-#{$i} {
      background-color: $color;
    }
  }

  button {
    flex-basis: 18%;
    min-width: 178px;
    background-color: gold;
    color: white;
    padding: 14px;
    font-family: Monstserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;

    &:hover {
      color: #333;
      border: 1px solid #333;
      padding: 13px;
    }

  }

  .view-all {
    @include var.gold-button;
    background-color: transparent;
    justify-content: start;
    padding: 13px 13px 13px 60px;
    text-transform: uppercase;
    font-size: 14px;

    img {
      width: 14px;
      margin-left: 30px;
    }

    img.arrow-up {
      transform: rotate(180Deg);
    }

    &:hover {
      background-color: transparent;
      padding: 13px 13px 13px 60px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}