.categories {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  span {
    width: 190px;
    background-color: red;
    color: white;
    padding: 14px;
    font-family: Monstserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    text-align: center;
  }
}