@use 'variables'as var;

.hero-section {
  @include var.flex-column;
  width: 100%;
  height: 264px;
  background-color: #000;
  background-image: url(var.$bg-hero);
  background-repeat: none;
  background-size: contain;
  
  h1 {
    @include var.common-style;
    width: 450px;
    font-size: 55px;
    color: #cfb995;
  }

  p {
    @include var.common-style;
    width: 400px;
    font-size: 25px;
    color: #fff;
  }
}